# Ambiente virtual
venv/
/venv
env/
.env/

# Arquivos Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Pastas de cache do editor
.vscode/
.idea/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.temp

# Dados do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos do sistema
.DS_Store
Thumbs.db
